{% extends "standard.html" %}

{% block title %}Welcome!{% endblock %}



{% block main %}

    <form method="POST" action=''>
    <div data-role="collapsible" data-collapsed="false" data-theme="b" data-content-theme="c">
        <h3>i asked</h3>
	    <label for="asked">i asked siri:</label>
        <textarea name='asked' label='asked' placeholder="What can I help you with?"></textarea>
    </div>

<div data-role="collapsible-set" data-theme="b" data-content-theme="c">
	<div data-role="collapsible" data-collapsed="false">

    	<h3>siri said</h3>
    <label for="got">siri said...</label>
    <textarea label='said' name='said' placeholder=""></textarea>
    </div>

	<div data-role="collapsible">
    <h3>siri did</h3>
    <fieldset data-role="controlgroup">
	    <legend>Siri gave:</legend>
            {% for t in knownactions %}
         	<input type="radio" name="action" id="radio-choice-{{t}}" value="choice-{{t}}" />
         	<label for="radio-choice-{{t}}">{{t}}</label>

            {% endfor %}
    <!--
         	<input type="radio" name="radio-choice-1" id="radio-choice-1" value="choice-1" checked="checked" />
         	<label for="radio-choice-1">Cat</label>

         	<input type="radio" name="radio-choice-1" id="radio-choice-2" value="choice-2"  />
         	<label for="radio-choice-2">Dog</label>

         	<input type="radio" name="radio-choice-1" id="radio-choice-3" value="choice-3"  />
         	<label for="radio-choice-3">Hamster</label>

         	<input type="radio" name="radio-choice-1" id="radio-choice-4" value="choice-4"  />
         	<label for="radio-choice-4">Lizard</label>
    -->
    </fieldset>
    </div>

	
    </div>
    <div data-role="collapsible" data-collapsed="false" data-theme="b" data-content-theme="c">
        <h3>siri did the right thing?</h3>
        <label for="flip-a">siri did the right thing?</label>
        <select name="correctaction" id="flip-a" data-role="slider">
	        <option value="off">No</option>
	        <option value="on">Yes</option>
        </select> 
    </div>

    <input style="display: block; margin-left: auto; margin-right: auto;" data-role="none" type="image" src="/static/img/siri-icon-trimmed-bw.png" />
    </form>


{% endblock %}


